@mixin tab {
  @media screen and (max-width: 768px) {
    @content;
  }
}

body {
  overflow: auto;
  width: 100vw;
  padding: 1em 2em 2em 20em;
  color: #302833;
  background-color: #fbfaf5;

  font-family: "Roboto", sans-serif;

  font-size: 1.6rem;

  line-height: 1.5;

  @include tab {
    width: 50vw;
  }

  .box {
    margin: 0 0 30px;

    padding: 15px;

    border: 1px solid #ccc;

    font-size: 0.5em;
  }

  // .box で使ったスタイルを継承
  .item {
    @extend .box;
  }
}
